<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'left_nav.html' %}
<table class="table table-striped">
  <thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">Employee Name</th>
    <th scope="col">Arrival Time</th>
    <th scope="col">Left Time</th>
    <th scope="col">login Status</th>

    </tr>
  </thead>
  <tbody>
  {% for i in data  %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.emp_id.name}}</td>
      <td>{{i.arrival_time}}</td>
    <td>{{i.left_time}}</td>
    <td>{{i.login_status}}</td>
      <td><a href="/full_details/{{i.id}}">Full Details</a></td>

    </tr>
  {% endfor %}
  </tbody>
</table>
</body>
</html>